*{
    box-sizing: inherit;
}
body{
    width: 100%;
    display: block;
    
}
html{
     /* font-size: 100%; */
     line-height: 16px;
     overflow-x: hidden;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}

/* Content */
.type-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-home{
  width: 55%;
  max-width: 100%;
}
.title-tintuc{
  background-color: #222;
}
.title-tintuc h3{
  color: #fff;
  padding: 15px 10px;
 
}
.tin-tuc{
  margin-top: 30px;
}
.slide_show .content-slide_left h3{
  position: absolute;
    left: 600px;
    bottom: 320px;
    font-size: 25px;
    color: rgb(0,0,0);
    line-height: 1.2;
    font-weight: 850;
}
.slide_show:hover{
  opacity: 0.8;
}
.newspage{
    display: flex;
    margin-bottom: 30px;
  }
  .content{
    margin-left: 30px;
    margin-top: 0px;
  }
  .content h3{
    margin-top: 5px;
  }
  .create{
    display: flex;
  }
  .create a{
    color: rgb(223, 52, 52);
  }
  .create-date{
    padding-left: 20px;
  }
  .newspage h3 a{
    font-size: 22px;
    line-height: 28px;
    color: #333;
    text-decoration: none;
  }
  .newspage a img:hover{
    opacity: 0.7;
  }
  .newspage h3 a:hover{
    color: #28a745;
  }
  .newspage .img img{
    width: 350px;
    height: 200px;
  }
  .create-date a{
    color: #000;
  }

  .page-detail{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .update{
    display: flex;
    align-items: center;
    justify-content: center ;
}
.update .edit{
        font-size: 18px;
        background-color: #28a745;
        color: #fff;
        padding: 5px 12px;
        margin-left: 600px;

}
.update .delete{
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    padding: 5px 12px;
    margin-left: 10px;

}
